/* Navbar */
.navbar {
  margin-top: -72px;
  font-weight: bold;
  background-color: #85a88a;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #32502e;
  text-decoration: none;
  font-size: 17px;
}
.navbar div.title {
  float: left;
  margin-left: 25px;
  color: #32502e;
  text-decoration: none;
  font-size: 15px;
}

.navbar div.title {
  color: #32502e;
  font-family: "Oleo Script";
}
.navbar-right {
  margin-right: 100px;
}
.navbar-right a {
  margin-left: 25px;
}
.navbar a:hover {
  border-radius: 10%;
  color: #fff;
}
.navbar-right {
  float: right;
}

/*End of Navbar*/