h1{
  color: #32502E;
  font-family: sans-serif;
}

body{
    background-color:wheat;
}

.header{
  padding: 10px;
  margin-bottom: 10px;
}
.header > h1{
  
  margin: 5px 0 0 0;
}
.card{
  margin: 20px;
  padding: 10px;
  display: flex;
  
  flex-direction: column;
  border-radius: 25px;
  border: 5px soild #000;
}
.tree-image{
  width: 200px;
  height: 200px;
  max-width: 200px;
}