h1{
  color: #32502E;
  font-family: sans-serif;
}

body{
    background-color:wheat;
}

.container
{
    margin:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 99, 11, 0.699);
  color: white;
  text-align: center;
}
