@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
h1 {
  color: #32502e;
  font-family: "Oleo Script", sans-serif;
  font-weight: 700;
}

body {
  background-color: wheat;
  font-family: "Montserrat", sans-serif;
}
center {
  margin-bottom: 20px;
}
center h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 5vw;
  text-align: center;
}
.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
header > h1 {
  align-items: center;
  margin: 5px 0 0 0;
}
#img {
  max-width: 450px;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 99, 12, 0.637);
  color: white;
  text-align: center;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

/* Navbar */
.navbar {
  font-weight: bold;
  background-color: #85a88a;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #32502e;
  text-decoration: none;
  font-size: 17px;
}
.navbar div.title {
  float: left;
  margin-left: 25px;
  color: #32502e;
  text-decoration: none;
  font-size: 15px;
}

.navbar div.title {
  color: #32502e;
  font-family: "Oleo Script";
}
.navbar-right {
  margin-right: 100px;
}
.navbar-right a {
  margin-left: 25px;
}
.navbar a:hover {
  border-radius: 10%;
  color: #fff;
}
.navbar-right {
  float: right;
}

/*End of Navbar*/

.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header {
  padding: 10px;
  margin-bottom: 10px;
}

/*LOGO*/
.logo {
  border-radius: 50%;
  padding: 10px;
}
/*End of LOGO*/

.card {
  margin: 20px;
  padding: 10px;
  display: flex;

  flex-direction: column;
  border-radius: 25px;
  border: 5px soild #000;
}

.elder {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}

.elder img {
  max-width: 100%;
  padding: 20px;
}

.tree-image {
  width: 200px;
  height: 200px;
  max-width: 200px;
}

.panel-footer {
  border-top: 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(7, 99, 12, 0.637);
  color: white;
  text-align: center;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.footer p {
  color: #32502e;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0;
}
.footer i {
  color: #fff;
}
.footer p:hover {
  color: #fff;
  font-size: 50px;
}

#links {
  line-height: 2;
}
#links > span {
  font-size: 1.3em;
  font-weight: bold;
}

#quote {
  font-style: italic;
  font-size: medium;
  margin-top: 8px;
}
#quote p:nth-child(2) {
  margin-top: 25px;
}

.panel-footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.panel-footer a:hover {
  color: #32502e;
  text-decoration: none;
}
.social_icon i {
  font-size: 20px;
  color: #fff;
}
.social_icon i:hover {
  color: darkgreen;
}
